<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      Vatsal Patel - N01546693
    </header>

<main>
    {{{body}}}

</main>

    <footer>
      Vatsalpatel1841103@gmail.com
    </footer>
  </body>
</html>